@font-face {
  font-family: 'Amalfi Coast';
  src: url('../fonts/AmalfiCoast.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Amalfi Coast', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

h2 {
  margin-bottom: 30px;
  font-weight: 700;
 
}

.navbar-brand {
  font-weight: bold;
}

#servicios i {
  color: #33A6A7;
  margin-bottom: 15px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #cccccc;
}

.carousel-item img {
  height: 600px;
  object-fit: cover;
}

.galeria-fija {
  height: 400px;
  object-fit: cover;
  width: 100%;
}


